[Unit]
Description=🔄️ Get BootC updates
Documentation=https://bootc-dev.github.io/
ConditionPathExists=/run/ostree-booted
Wants=network-online.target
After=network-online.target

[Timer]
OnBootSec=20min
OnUnitInactiveSec=4h

[Install]
WantedBy=timers.target
