[Unit]
Description=PlayIt Agent for server hosting on CGNAT networks
Documentation=https://playit.gg
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/playit/playit --secret_path /etc/playit/playit.toml start
IOSchedulingPriority=6
Restart=always
RestartSec=20
Nice=16
User=root

[Install]
WantedBy=multi-user.target
