[Unit]
Description=🔄️ Get BootC updates
Documentation=https://bootc-dev.github.io/
ConditionPathExists=/run/ostree-booted
Wants=network-online.target
After=network-online.target

[Timer]
Persistent=true
OnCalendar=00,04,08,12,16,20:00:00 UTC
AccuracySec=4h

[Install]
WantedBy=timers.target
