[Unit]
Description=⌚️ RPM-OSTree component that anonymously tracks the appx. system age, no personal info sent
Documentation=man:rpm-ostree-countme.timer(8)
ConditionPathExists=/run/ostree-booted
Wants=network-online.target
After=network-online.target

# 8h has greater, accurate count compared to weekly. Compensates very minor energy yet lets devs know how much people actually keep 
# Linux on their device and remove it right after. just an approximation

[Timer]
Persistent=true
OnCalendar=00,08,16:00:00 UTC
AccuracySec=8h

[Install]
WantedBy=timers.target
