[Unit]
Description=🔄️ Fyn-sysfresh, tries to do what UUpd can't
After=network-online.target
Wants=network-online.target

[Timer]
Persistent=true
OnCalendar=00,04,08,12,16,20:00:00 UTC
AccuracySec=4h

[Install]
WantedBy=timers.target
