[Unit]
Description=hBlock /etc/hosts updation
After=network-online.target
Wants=network-online.target

[Timer]
Persistent=true
OnCalendar=00,04,08,12,16,20:00:00 UTC
AccuracySec=4h
Unit=hblock.service

[Install]
WantedBy=timers.target
