[Unit]
Description=Minecraft server starter

# You can also try exploring Server software that suits
# your needs rather than using the official server

[Service]
Type=simple
ExecStart=/opt/mc-server/mc-server
IOSchedulingClass=2
IOSchedulingPriority=5
Restart=always
Nice=10
User=root

# Use the contents below for drop in if using Java servers
#WorkingDirectory=/opt/mcje-server
#ExecStart=/usr/bin/java -Xmx6G -Xms256m -XX:+UseZGC -XX:+UnlockExperimentalVMOptions -XX:+UseCompressedOops -XX:+OptimizeStringConcat -XX:+UseNUMA -XX:MaxRAMPercentage=75.0 -jar server.jar 

[Install]
WantedBy=multi-user.target
